<html>
    <head>

<link rel="stylesheet" href="https://cdnjs.com/libraries/bttn.css">
    </head>

    <body>
        
    <form action="/send" method="POST">
        <input type="submit" class="bttn-slant bttn-lg bttn-success" value="Click here to submit the form"/>
    </form>
    
  
    </body>
    
</html>


